*.exe
*.exe~
*.dll
*.so
*.dylib
*.out
config.yaml
config.yml
.DS_Store
log/*.log
log/*.json
log.json
tmp/
.env
.idea
go.work.sum
*go.work.sum
vendor
main
credentials.json
token.json
client_secret.json